.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: calc(13px + 2vmin);
  color: #f5f5ff;
  font-weight: bold;
  margin: 20px;
  text-align: center;
}

.description {
  font-size: calc(10px + 0.5vmin);
  color: #f5f5ff;
  opacity: 0.7;
}

.description_txn {
  font-size: calc(10px + 0.5vmin);
  color: #f5f5ff;
  opacity: 0.7;
  text-decoration: none;
}

.view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
  padding: 10px;
}

.label {
  font-size: calc(10px + 2vmin);
  color: #f5f5ff;
  margin-right: 10px;
  text-align: center;
}

.value {
  font-size: calc(10px + 2vmin);
  color: #f5f5ff;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
